extends ../_partials/layout

block title
  title Feast Consultants | Feasted - Private Catering, Food Consulting and Education
  meta(name="description" content="With a background in education as well as creating amazing food, a core part of what we do is teaching others to do the same. We work with employers, schools and further education providers both locally, here in Stoke, and across the country. ")
  
block logo
  img.nav-logo(src='/images/feasted-education-logo.svg' alt='Feasted Education logo')
  
block content
  .container
    h1 Feast Consultants
    .split-container
      .split
        h3 With a background in education as well as creating amazing food, a core part of what we do is teaching others to do the same. We work with employers, schools and further education providers both locally, here in Stoke, and across the country. 

        a.button.button-primary(href='/contact') Contact Us

      .split
        h5 Education

        p We're all about using skills and creativity to develop extraordinary culinary achievements. 

        p As well as our #[a(href='/education/stoke-on-trent-college') Level 3 Gastronomy course] with Stoke-on-Trent College, we are consultants for education providers, offering up our knowledge and skills to shape your curriculum.

        p Consultancy projects include FE college hospitality course creation. Tailoring the curriculum to local needs and creating content that is informed by business, community and ecological change. We can help with local identity.

        p High school consultancy helps schools, departments and teachers keep up to date with the demands of skill acquisition. We equip teaches with the delivery of the Food, Preparation and Nutrition GCSE and Catering and Hospitality Vocational Certs. Not only do we help teachers deliver skills based tasks we also enable teachers work with confidence and help them develop their teaching through understanding specific teaching and learning methods.

        p If you would like to find out more about how we slot into the education space, please #[a(href='/contact') get in touch].

        h5 Hospitality

        p Our consultancy work is about listening to your needs and building a culture to make it happen. Your business is about people we are about helping your people be amazing.

        p We work with restaurants to give them confidence while working in an ever changing competitive market. If your business wants to deliver a unique experience to your customers then we have the ideas that can help.

    .gallery
      img(src='/images/education/consulting/1.jpg')
      .gallery-split
        img(src='/images/education/consulting/2.jpg')
      .gallery-split
        img(src='/images/education/consulting/3.jpg')
      img(src='/images/education/consulting/4.jpg')

    h2 More Education
    p Does our consultancy not tickle your fancy? Take a look at some of our other educational packages:

    .split-container
      .split
        .more-packages
          h4
            a(href='/education/stoke-on-trent-college') Stoke-on-Trent College
          p We’ve partnered with Stoke-on-Trent College to bring an all-new Level 3 qualification in Gastronomy to the college. 
          p A journey through gastronomy, exploring local cuisine and the history of our food, as well as focusing in on the future. 
          a(href='/education/stoke-on-trent-college') Read more...