extends ../_partials/layout

block title
  title Stoke-on-Trent College Level 3 Gastronomy Course | Feasted
  meta(name="description" content="We’ve partnered with Stoke-on-Trent College to bring an all-new level three qualification in Gastronomy to the college. If you think you have the key ingredients to succeed then this course is for you. It starts in September 2020 but you can enquire about 2021 through us or Stoke on Trent College. ")

block logo
  img.nav-logo(src='/images/feasted-education-logo.svg' alt='Feasted Education logo')

block content
  .container
    h1 Stoke-on-Trent College
    .split-container
      .split
        h3 We’ve partnered with Stoke-on-Trent College to bring an all-new level three qualification in Gastronomy to the college. 

        a.button(href='/contact') Contact Us
        a.button.button-primary(href='https://www.stokecoll.ac.uk/feasted/' target='_blank') Enroll Now

      .split
        p Born out of a love for food and education, this is our Level 3 Gastronomy Course. 

        p A journey through gastronomy, exploring local cuisine and the history of our food, as well as focusing in on the future. 

        p A course for the senses and the imagination, this is education but not as you know it. 

        p United by a desire for more and connected through our roots, this is about more than food. This is about experiencing the world through flavour and creating in our home towns within Stoke on Trent. 

        p If you think you have the key ingredients to succeed then this course is for you. It starts in September 2020 but you can enquire about 2021 through us or Stoke on Trent College. 

        p Keep your eyes peeled for other courses coming soon too.

    .gallery
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/1.jpg')
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/2.jpg')
        img(src='/images/education/stoke-on-trent-college/3.jpg')
      img(src='/images/education/stoke-on-trent-college/4.jpg')
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/5.jpg')
        img(src='/images/education/stoke-on-trent-college/6.jpg')
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/7.jpg')
      img(src='/images/education/stoke-on-trent-college/8.jpg')
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/9.jpg')
      .gallery-split
        img(src='/images/education/stoke-on-trent-college/10.jpg')
        img(src='/images/education/stoke-on-trent-college/11.jpg')

    h2 More Education
    p Does our college course not tickle your fancy? Take a look at some of our other educational packages:

    .split-container
      .split
        .more-packages
          h4
            a(href='/education/feast-consultants') Food Consultancy
          p We are consultants for education providers, offering up our knowledge and skills to shape your curriculum. 
          p Consultancy projects include FE college or high school  course creation, teacher training and restaurant menus. 
          a(href='/education/feast-consultants') Read more...