extends _partials/layout

block title
  title About Us | Feasted - Private Catering, Food Consulting and Education
  meta(name="description" content="Passionate about people and flavours, Feasted exists to empower others around food. Whether you are cooking at home, learning to be a chef, or booking us for a special occasion, you will get the same energy and the same kind of flavourbombs from us. ")

block content
  .container.about
    h1 About Us
    .split-container
      .split
        h3 Passionate about people and flavours, Feasted exists to empower others around food.
        h3 Whether you are cooking at home, learning to be a chef, or booking us for a special occasion, you will get the same energy and the same kind of flavourbombs from us. 
        
        a.button(href='/contact') Contact Us
        a.button.button-primary(href='/#packages') Our Packages

        p Our work is split into three areas; #[a(href='/education/stoke-on-trent-college') education], #[a(href='/#feasted') dining] and #[a(href='/education/feast-consultants') consultancy]. 

        p For our education side of things, we have developed a #[a(href='/education/stoke-on-trent-college') course with Stoke on Trent College] to inspire young people and offer them the skills needed for a career in Gastronomy. We also offer #[a(href='/education/feast-consultants') consultancy work]. 

        p We do dining differently. From full bells and whistles to a #[a(href='/feasted/takeaway') takeaway] that is so much better than your average, with our infamous #[a(href='/feasted/board') BOARDs] making their way across the city, we know how to put together something fancy. 

        p Our #[a(href='/feasted/once-upon-a-plate') Once upon a Plate] is a private dining experience like no other, offering a totally bespoke menu for you and your guests. Or why not try our mouthwatering #[a(href='/feasted/barbeque-catering') barbeque] package, so you can sit back and relax with a personal chef keeping an eye on the barbie. 

        p Available for up to thirty people, we #[a(href='/feasted/corporate-team-building') cater for your team] in a different kind of way. Busting boredom and cooking up the tastiest of creations, we can set up kitchen in your workspace or we have a range of kitchens that we can book for the activity. 

        p What remains throughout all of it is the stories that we tell. 

        p Stories through food, stories through flavour and stories that talk about a life full of adventure and packed with history. Whether it is a place or a person, an event or an epiphany, we will harness your words and transform them into a creative menu. 

        p We would love to hear your story, so get in touch and find out more about what we offer, click onto the links below.

        a.button(href='/contact') Contact Us
        a.button.button-primary(href='/#packages') Our Packages

      .split
        .gallery
          img(src='/images/about/about-1.jpg')
          img(src='/images/about/about-2.jpg')