extends ../_partials/layout

block title
  title Barbeque Catering | Feasted - Private Catering, Food Consulting and Education
  meta(name="description" content="Our BBQ package means that rain or shine, you can sit back and relax with a personal chef keeping an eye on the barbie. Let us transform your summer nights with our BBQ package and enjoy those long-awaited reunions… ")

block content
  .container
    h1 Barbeque Catering
    .split-container
      .split
        h3 Summer sun and apparently thunderstorms, but when did that ever stop us Brits?

        a.button(href='/contact') Contact Us
        a.button.button-primary(href='https://shop.feasted.co.uk/collections/all/products/char-dining-package' target='_blank') Order Now

      .split
        p Our BBQ package means that rain or shine, you can sit back and relax with a personal chef keeping an eye on the barbie. 

        p From seitan to steak and everything in between, hunks of halloumi and a whole host of mouth-watering sides, this is a far cry from a pack of sausages and a bag of bread rolls. 

        p Think marinated meats and salads piled high with colour and flavour, dressed to perfection. 

        p Sit back and relax with friends, chatting into the small hours or steal away quiet moments that would otherwise be spent staring at the underside of a burger. 

        p Let us transform your summer nights with our BBQ package and enjoy those long-awaited reunions… 

    .gallery
      img(src='/images/dining/barbeque/1.jpg')
      img(src='/images/dining/barbeque/2.jpg')
      .gallery-split
        img(src='/images/dining/barbeque/3.jpg')
      .gallery-split
        img(src='/images/dining/barbeque/4.jpg')
        img(src='/images/dining/barbeque/5.jpg')
      img(src='/images/dining/barbeque/6.jpg')

    h2 More Feasted
    p Are barbeques not your thing? Take a look at some of our other catering packages:

    .split-container
      .split
        .more-packages
          h4
            a(href='/dining/board') BOARD
          p We’ve created seasonal takeaway boards that boast bold favours and gorgeous combinations. Bookable for occasions or ‘just because’ this isn’t your average takeaway and we work with local farmers and creatives to use ingredients that are rich and readily available, supporting other businesses as well as bringing you amazing food.
          a(href='/dining/board') Read more...

        .more-packages
          h4
            a(href='/dining/corporate-team-building') Corporate
          p Available for up to thirty people, we cater for your team in a different kind of way. 
          p Busting boredom and cooking up the tastiest of creations, we can set up kitchen in your workspace or we have a range of kitchens that we can book for the activity. 
          a(href='/dining/corporate-team-building') Read more...

      .split
        .more-packages
          h4
            a(href='/dining/once-upon-a-plate') Once Upon A Plate
          p Gather your friends, gather your family and sit back for an evening of indulgence and magic. 
          p Once upon a Plate is a private dining experience like no other. We work with you to learn about your event or occasion and note the stories and tales that you tell us around your attendees. We will weave this into the story of the food, creating a totally bespoke menu for you and your guests. 
          a(href='/dining/once-upon-a-plate') Read more...