extends ../_partials/layout

block title
  title BOARD Takeaways | Feasted - Private Catering, Food Consulting and Education
  meta(name="description" content="We’ve created seasonal takeaway boards that boast bold favours and gorgeous combinations. Bookable for occasions or ‘just because’ this isn’t your average takeaway and we work with local farmers and creatives to use ingredients that are rich and readily available, supporting other businesses as well as bringing you amazing food.")

block content
  .container
    h1 BOARD
    .split-container
      .split
        h3 Imagine a takeaway that is packed with flavour and zero waste as well.
        h3 Dream no more because this is BOARD. 

        a.button(href='/contact') Contact Us
        a.button.button-primary(href='https://shop.feasted.co.uk/collections/all/products/board-dining-package' target='_blank') Order Now

      .split
        p We’ve created seasonal takeaway boards that boast bold favours and gorgeous combinations. Bookable for occasions or ‘just because’ this isn’t your average takeaway and we work with local farmers and creatives to use ingredients that are rich and readily available, supporting other businesses as well as bringing you amazing food. 

        p We will deliver your BOARD on our signature wooden boards, with everything you need to tuck right in. It’s zero waste so you can pop your cutlery and board into the jute bag provided and we will collect it, clean it and reuse it. Not only is it good for the planet, but it saves on your washing up too. 

        p Our BOARD ingredients change with the seasons, think gorgeous Crispy Chicken with sides that reflect the seasons, think sweetcorn in late summer, amazing squash in autumn and roots in winter. Keep your eyes peeled on our socials and shop to see what we currently have cooking.

    .gallery
      img(src='/images/dining/board/1.jpg')
      .gallery-split
        img(src='/images/dining/board/2.jpg')
      .gallery-split
        img(src='/images/dining/board/3.jpg')
        img(src='/images/dining/board/4.jpg')
      img(src='/images/dining/board/5.jpg')

    h2 More Feasted
    p Does BOARD not tickle your fancy? Take a look at some of our other catering packages:

    .split-container
      .split
        .more-packages
          h4
            a(href='/dining/once-upon-a-plate') Once Upon A Plate
          p Gather your friends, gather your family and sit back for an evening of indulgence and magic. 
          p Once upon a Plate is a private dining experience like no other. We work with you to learn about your event or occasion and note the stories and tales that you tell us around your attendees. We will weave this into the story of the food, creating a totally bespoke menu for you and your guests. 
          a(href='/dining/once-upon-a-plate') Read more...

        .more-packages
          h4
            a(href='/dining/corporate-team-building') Corporate
          p Available for up to thirty people, we cater for your team in a different kind of way. 
          p Busting boredom and cooking up the tastiest of creations, we can set up kitchen in your workspace or we have a range of kitchens that we can book for the activity. 
          a(href='/dining/corporate-team-building') Read more...

      .split
        .more-packages
          h4
            a(href='/dining/barbeque-catering') Barbeque
          p Our BBQ package means that rain or shine, you can sit back and relax with a personal chef keeping an eye on the barbie. 
          p From seitan to steak and everything in between, hunks of halloumi and a whole host of mouth-watering sides, this is a far cry from a pack of sausages and a bag of bread rolls. 
          a(href='/dining/barbeque-catering') Read more...