extends ../_partials/layout

block title
  title Once Upon A Plate | Feasted - Private Catering, Food Consulting and Education
  meta(name="description" content="Once upon a Plate is a private dining experience like no other. We work with you to learn about your event or occasion and note the stories and tales that you tell us around your attendees. We will weave this into the story of the food, creating a totally bespoke menu for you and your guests.")

block content
  .container
    h1 Once Upon A Plate
    .split-container
      .split
        h3 Stories told through food and incredible eating inside your own home. 
        h3 Gather your friends, gather your family and sit back for an evening of indulgence and magic. 

        a.button(href='/contact') Contact Us
        a.button.button-primary(href='https://shop.feasted.co.uk/collections/all/products/once-upon-a-plate-dining-package' target='_blank') Order Now

      .split
        p Once upon a Plate is a private dining experience like no other. We work with you to learn about your event or occasion and note the stories and tales that you tell us around your attendees. We will weave this into the story of the food, creating a totally bespoke menu for you and your guests.  

        p Flavours and textures, three, five or seven courses, we will work with you to create a meal to remember but, it is so much more than that. 

        p It’s about the chance to re-connect with loved-ones, an opportunity to sit down and listen, to be taken care of, to enjoy the moment and to savour the experience with those nearest and dearest. 

        p We provide the flavour and Staffordshire ceramics. We also have our own sommelier who will pair amazing drinks with each course.

        p Once upon a Plate is about magic and friendship, love and family as much as it is about amazing food. 
    
    .gallery
      img(src='/images/dining/once-upon-a-plate/1.jpg')
      .gallery-split
        img(src='/images/dining/once-upon-a-plate/2.jpg')
      .gallery-split
        img(src='/images/dining/once-upon-a-plate/3.jpg')
      img(src='/images/dining/once-upon-a-plate/4.jpg')
      .gallery-split
        img(src='/images/dining/once-upon-a-plate/5.jpg')
      .gallery-split
        img(src='/images/dining/once-upon-a-plate/6.jpg')
      img(src='/images/dining/once-upon-a-plate/7.jpg')

    h2 More Feasted
    p Does Once Upon A Plate not tickle your fancy? Take a look at some of our other catering packages:

    .split-container
      .split
        .more-packages
          a(href='/dining/board') BOARD
          p We’ve created seasonal takeaway boards that boast bold favours and gorgeous combinations. Bookable for occasions or ‘just because’ this isn’t your average takeaway and we work with local farmers and creatives to use ingredients that are rich and readily available, supporting other businesses as well as bringing you amazing food.

        .more-packages
          a(href='/dining/corporate-team-building') Corporate
          p Available for up to thirty people, we cater for your team in a different kind of way. 
          p Busting boredom and cooking up the tastiest of creations, we can set up kitchen in your workspace or we have a range of kitchens that we can book for the activity. 

      .split
        .more-packages
          a(href='/dining/barbeque-catering') Barbeque
          p Our BBQ package means that rain or shine, you can sit back and relax with a personal chef keeping an eye on the barbie. 
          p From seitan to steak and everything in between, hunks of halloumi and a whole host of mouth-watering sides, this is a far cry from a pack of sausages and a bag of bread rolls. 