@import '_partials/variables'
@import '_partials/reset'
@import '_partials/utilities'
@import '_partials/typography'
@import '_partials/buttons'
@import '_partials/nav'

.main-logo
    padding 2rem 5rem
    margin 0 auto
    max-width 40rem
    width 100%
    box-sizing border-box