@import '_partials/variables'
@import '_partials/reset'
@import '_partials/utilities'
@import '_partials/typography'
@import '_partials/buttons'
@import '_partials/nav'

body
  background #111
  position relative

.white-background
    background white
    padding 0 0 6rem 0

.main-logo
    margin 0 auto
    max-width 12rem
    width 100%
    box-sizing border-box

.swiper

    &-container
        height 47.15rem
        width 100%
        margin 4.5rem auto 0 auto

    &-slide
        width 1100px
        height 47.15rem
        opacity .3
        transition opacity 1s
        will-change opacity

        &-active
            opacity 1

        img 
            width 100%
            max-width 1100px
            height 47.15rem
            background $midGrey

    &-button
        
        &-next, &-prev
            color white

            &:after
                -webkit-text-stroke-width: 5px;
                -webkit-text-stroke-color: white;

    &-pagination-bullet-active
        background white

#education
    margin-top 4rem
    background $lightGrey
    padding 5rem 0

#dining
    margin-top 8rem

.products
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap
    margin-top 6rem

.product
    border 1px solid #ccc
    border-radius 5px
    margin-bottom 4rem
    width calc(50% - 3rem)
    background white

    img
        padding 1.5rem
        width 100%
        box-sizing border-box

    &-description 
        padding 2rem 3rem 3rem 3rem

        p
            max-width 100%
            margin 0

.about
    
    .button
        margin 2rem 2.5rem 5rem 0

.contact

    .split-container:last-child
        margin-top 5rem
    
    h6
        text-transform uppercase
        color $primaryColor
        margin-bottom 0

.gallery
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-between
    margin 6rem 0

    &-split
        width calc(50% - .8rem)

    img
        margin 0 0 1.6rem 0
        background $midGrey

.more-packages
    padding-top 2rem

    a
        display block
        font-size 1.8rem
        font-family $ttRoundsBold
        margin-bottom 2rem

.instafeed
    margin 6rem 0 3rem 0

    h2
        margin-bottom 6rem

    #instafeed
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between

    a
        position relative
        background $midGrey
        width calc(25% - 1rem)
        padding-top 25%
        margin-bottom 1.33rem
        overflow hidden        

        img
            object-fit cover
            position absolute
            top 0
            left 0
            min-width 100%
            min-height 100%
            transition all .35s
            opacity 1

            &:hover
                transform scale(1.1)
                opacity .8

.footer-contact
    background $lightGrey
    padding 6rem 0 3rem 0

    &-social
        display flex
        flex-wrap wrap
        align-items center
        margin-bottom 4.2rem

        a 
            width 4.1rem
            height 4.1rem
            margin-right 2rem

            &:focus
                outline none

.contact-form
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap

    &-split
        width calc(50% - 2rem)
        display flex
        flex-direction column

.bot
    display none
    width 100%
    height 0
    overflow hidden

.footer-links
    background #434343
    padding 6rem 0 0 0

    .container
        display flex
        flex-wrap wrap
        align-items flex-start
        justify-content space-between

    &-column
        width 33.3%
        box-sizing border-box
        padding 0 3rem 0 0
        margin-bottom 5rem

        ul
            line-height 2.4

        a
            color white
            text-decoration none

            &:hover
                text-decoration underline

.footer-amp
    background #111
    color white
    padding 1rem 0 1.25rem 0

    .container
        display flex
        flex-wrap wrap
        align-items flex-start
        justify-content space-between

        p
            margin 0

        a
            margin 0
            padding 0
            display flex
            align-items center
            color white
            text-decoration none

            &:hover
                text-decoration underline

        img
            display inline-block
            width 5rem
            margin 0 0 0 .25rem

@media(max-width: $breakpointSmall)
    
    .about 
    
        .button
            margin-bottom 1rem
            margin-right 1.5rem

        .button-primary
            margin-bottom 5rem

    h3, p
        max-width 100%

    p
        line-height 1.6

    .swiper

        &-container
            height auto
            width 100%
            margin 4.5rem auto 0 auto

        &-slide
            width 100%
            height auto

            img 
                height auto

    .gallery

        &-split
            width 100%

    .contact-form

        &-split
            width 100%

    .instafeed
        margin 4rem 0 0 0

        .container
            padding 0

        h2
            margin-left 1.5rem

        a
            width calc(33.3% - .1rem)
            padding-top 33.3%
            margin-bottom .15rem

            img:hover  
                opacity 1

    .footer-links

        &-column
            width 100%