$breakpointLarge = 1160px
$breakpointMedium = 900px
$breakpointSmall = 767px
$breakpointXSmall = 360px

$containerPadding = 3rem

$primaryColor =	hsl(40, 90%, 55%)
$primaryColorAccent = hsl(40, 90%, 40%)

$linkColor = hsl(40, 90%, 50%)
$linkColorAccent = hsl(40, 90%, 40%)

$richBlack = #16222a
$darkGrey = #353535
$midGrey = #c4c4c4
$lightGrey = #f8f8f8

$openSansLight = "Open Sans Light", Helvetica, Arial, sans-serif
$openSansBold = "Open Sans Bold", Helvetica, Arial, sans-serif
$farmNewMedium = "New Farm Medium", Helvetica, Arial, sans-serif