mixin instaFeed
  .instafeed
    .container
      h2 Follow Us On Instagram
      #instafeed
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
        a(href='link')
