mixin navigation
  nav
    .container
      a(href='/')
        block logo
          img.nav-logo(src='/images/feasted-logo.svg' alt='Feasted logo')
      .nav-menu-toggle Menu
        .nav-menu-toggle-icon
          .nav-menu-toggle-icon-bar
          .nav-menu-toggle-icon-bar
          .nav-menu-toggle-icon-bar
      ul.nav-menu(aria-expanded='false')
        li 
          a.scroll(href='/#dining') Dining
        li 
          a.scroll(href='/#education') Education
        li 
          a.scroll(href='/education/feast-consultants') Consultancy
        li 
          a(href='/about') About Us
        li 
          a(href='/contact') Contact Us
        //- li 
        //-   a(href='/blog') Blog
        li 
          a(href='https://shop.feasted.co.uk' target='_blank') Shop