mixin socialMedia
  h5 Social Media
  p.small You can follow us on socials too so you can keep up-to-date with our collaborations and concoctions. Take it easy!
  .footer-contact-social
    a(href='https://twitter.com/Feasted11' target='_blank')
      img(src='/images/social/twitter.svg')
    a(href='https://www.facebook.com/feastwithfriends/' target='_blank')
      img(src='/images/social/facebook.svg')