extends ../_partials/layout

block content
  .container
    h1 Error Sending Message
    .split-container
      .split
        h3 Sorry, our contact forms aren't working yet so please send us an email at #[a(href='mailto:cris@feasted.co.uk') cris@feasted.co.uk] or call us at #[a(href='tel:07804699947') 07804 699947].