extends ../_partials/layout

block content
  .container
    h1 Success!
    .split-container
      .split
        h3 Thanks for contacting Feasted. If you don't hear back, please send us an email at #[a(href='mailto:cris@feasted.co.uk') cris@feasted.co.uk] or call us at #[a(href='tel:07804699947') 07804 699947].

      .split        
        a.button.button-primary(href='/') Go to the homepage